@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

body{
    margin: 0;
    background-color:#080C20;
    color: white;
    font-family: 'Manrope', sans-serif;
    overflow-x: hidden;
}

p{
    opacity: .6;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 4em;
    box-sizing: border-box;
}

.banner{
    display: flex;
    justify-content: space-between;
}

#left{
    position: absolute;
    left: -20px;
}

#right{
    position: absolute;
    right: -50px;
}

.banner_content{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../assests/bg-hero-squiggle.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: auto;
}

.banner_content h1{
    text-align: center;
    font-size: 2.8em;
}

.banner_content span{
    color: #3EE9E5;
}

.banner_content p{
    text-align: center;
    margin-bottom: 60px;
}

.main{
    width: 100%;
    padding: 10%;
    box-sizing: border-box;
}

.features{
    display: flex;
    justify-content: space-between;
}

.features div{
    width: 250px;   
}

.features div:nth-child(even){
    margin-top: 70px;
}

.illustration{
    background-color: #093F68;
    border-radius: 20px;
    max-width: 125px;
    max-height: 135px;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

.info{
    width: 100%;
    text-align: center;
    margin: 40px;
}

.pricing{
    display: flex;
    margin: 40px 0;
    justify-content: center;
}

.card{
    background-color: grey;
    width: 400px;
    margin: 10px;
    padding: 30px;
    box-sizing: border-box;
    position: relative;
    border-radius: 10px;
}

.card h2{
    font-size: 2.5em;
}

.card #icon{
    position: absolute;
    top: -22px;
}

.card h2 span{
    font-weight: 100;
    font-size: .5em;
    opacity: .6;
    padding-left: 5px;
    position: relative;
    top: -6px;
}

ul{
    list-style-type: none;
}

.check{
    position: absolute;
    left: 30px;
    margin-top: 5px;
}

li{
    margin: 20px 0;
}

#free{
    background-color: #093F68;
}

#paid{
    background-color: #3EE9E5;
    color: black;
    margin-left: 30px;
    transform: scale(1.05);
}

#paid #icon{
    top: -35;
}

.footer{
    padding: 5%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../assests/bg-footer-squiggle.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.footer div{
    display: flex;
}

#error{
    visibility: hidden;
}

.footer #input_container{
    display: flex;
    flex-direction: column;
}

.footer input{
    outline: none;
    border: none;
    background-color: #093F68;
    color: white;
    font-size: 18px;
    padding: 10px;
    border-radius: 30px;
}

.footer button{
    outline: none;
    border: none;
    background-color: #3EE9E5;
    color: #093F68;
    font-weight: bold;
    border-radius: 30px;
    height: 40px;
    margin-left: 10px;
    padding: 0 20px;
}
::placeholder{
    color: rgba(255,255,255,0.5);
}